[access]
	inheritFrom = All-Internal-Projects
[receive]
	createNewChangeForAllNotInTarget = false
	requireChangeId = false
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/heads/master"]
	pushMerge = group user/Craig Dupree (cdupree)
	push = +force group user/Craig Dupree (cdupree)
[plugin "its-jira"]
	enabled = true
