[access]
	inheritFrom = All-Internal-Projects
[receive]
	createNewChangeForAllNotInTarget = false
	requireChangeId = false
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/for/refs/heads/*"]
	push = +force group user/Craig Dupree (cdupree)
	pushMerge = group user/Craig Dupree (cdupree)
[access "refs/heads/*"]
	pushMerge = group user/Craig Dupree (cdupree)
[plugin "its-jira"]
	enabled = true
