[access]
	inheritFrom = All-Internal-Projects
[receive]
	createNewChangeForAllNotInTarget = false
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/heads/*"]
	push = +force group user/Craig Dupree (cdupree)
	pushMerge = group user/Craig Dupree (cdupree)
	create = group user/Craig Dupree (cdupree)
	forgeCommitter = group user/Craig Dupree (cdupree)
	rebase = group user/Craig Dupree (cdupree)
